.container {
    width: auto;
    height: 10rem;
    display: flex;
    align-items: center;
}

.left-userid,
.right-email {
    font-size: larger;
    flex: 0.5;
    text-align: center;
}

.hero-text {
    margin-top: 6rem;
    display: flex;
    align-items: center;
    width: auto;
    height: 10rem;
    font-size: xx-large;
    font-weight: 600;
    justify-content: center;
}

.anonymity {
    color: #8875f1;
}

.logout-btn{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress > span {
    margin: 0;
    padding: 0;
}

.preloader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.preloader-text {
    margin-top: 25rem;
    text-align: center;
}
@media (max-width: 480px) {
    .container{
        margin-top: 2rem;
        flex-direction: column;
    }

    .left-userid,
    .right-email {
        font-size: large;
    }
    .hero-text{
        margin-top: 1rem;
        font-size: x-large;
    }
    .preloader-text {
        margin-top: 27rem;
        width: 20rem;
    }

}