.create-grp {
    position: fixed;
    bottom: 3rem;
    right: 3rem;
}

.all-grps {
    padding: 0 0 2rem 0;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grp-info {
    margin-top: 2rem;
    width: 80rem;
    /* background-color: aqua; */
    padding: 2rem;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.grp-name {
    font-size: xx-large;
    font-weight: 600;
}

.grp-bio {
    margin-top: 0.6rem;
    font-size: small;
}

.preloader {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preloader-text {
    margin-top: 25rem;
    text-align: center;
}

@media (max-width: 480px) {
    .grp-info {
        width: 20rem;
    }

    .grp-name {
        font-size: x-large;
        font-weight: 600;
    }

    .grp-bio {
        margin-top: 0.6rem;
        font-size: small;
    }

    .preloader-text {
        margin-top: 27rem;
        width: 20rem;
    }

}