.grp-container {
    margin: 1rem;
    padding: 2rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sin-grp-name {
    font-size: xx-large;
    font-weight: 600;
    text-align: center;
}

.grp-all-posts {
    display: flex;
    margin-top: 2rem;
    padding: 20px;
    width: 80rem;
    height: max-content;
    border: 2px solid black;
    border-radius: 20px;
}

.grp-post-input {
    margin-top: 1rem;
    width: 70rem;
    display: flex;
    justify-content: space-evenly;
}

.grp-post-input>input {
    border-radius: .4rem;
    width: 60rem;
    border: none;
    border: 1px solid black;
    background: transparent;
    padding: .4rem 1rem;
    text-align: center;
    outline: none;
}

.progress>span {
    margin: 0;
}


@media (max-width: 480px) {
    .grp-post-input {
        width: 20rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .grp-post-input>input {
        width: auto;
        border-radius: .4rem;
        margin-bottom: 1.5rem;
    }

    .grp-all-posts {
        flex-direction: column;
        width: 20rem;
    }

    .grp-post {
        width: auto;
    }

    .post-content {
        width: auto;
    }
}