.groups-btn{
    z-index: 99999;
    position: sticky;
    /* left: 10px; */
    right: 10px;
    top: 5rem;
}

.login-msg{
    background-color: #242424;
    color: #646cff;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100vh;
}

.home{
    margin-bottom: 1.5rem;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-all-posts{
    display: flex;
    margin-top: 2rem;
    padding: 20px;
    width: 80rem;
    height: max-content;
    border: 2px solid black;
    border-radius: 20px;
}

.home-post{
    /* background-color: #646cff; */
    flex: .9;
    width: 80rem;
    height: max-content;
    /* border: 2px solid black; */
    border-radius: 20px;
}

.comment-btn{
    flex: .1;
}

.post-info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.username{
    font-size: large;
    font-weight: 700;
}

.time{
    font-size: small;
}

.preloader{
    display: flex;
    justify-content: center;
    align-items: center;
}

.preloader-text{
    margin-top: 25rem;
    text-align: center;
}


@media (max-width: 480px) {
    .home-all-posts{
        flex-direction: column;
        width: 20rem;
        /* background-color: #646cff; */
    }

    .username{
        font-size: smaller;
    }

    .home-post{
        width: auto;
    }

    .comment-btn{
        margin-top: 1rem;
    }
    .preloader-text{
        margin-top: 27rem;
        width: 20rem;
    }
  }