.groups-btn {
    z-index: 99999;
    position: sticky;
    /* left: 10px; */
    right: 10px;
    top: 5rem;
}

.login-msg {
    background-color: #242424;
    color: #646cff;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100vh;
}

.home {
    margin-bottom: 1.5rem;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-all-posts {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    padding: 20px;
    width: 80rem;
    height: max-content;
    border: 2px solid black;
    border-radius: 20px;
}

.quick-comment {
    margin: 1.5rem 0;
    padding: 1rem;
    border-top: 2px solid #242424;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.qc {
    width: 75rem;
    display: flex;
    justify-content: space-between;

}

.show-more-comments{
    cursor: pointer;
    font-size: smaller;
}

.hero-comment{
    font-size: large;
    font-weight: 500;
    width: 75rem;
    padding-left: .5rem;
    text-align: left;
}

.qc-input {
    padding: .5rem;
    width: 69rem;
    border-radius: 1rem;
    outline: none;
    border: 1px solid #242424;
}

.latest-comment {
    margin-top: 1rem;
    padding: 1rem;
    border: 1px solid #646cff;
    border-radius: 1.5rem;
    width: 75rem;
    display: flex;
    justify-content: flex-start;
}

.home-post {
    flex: .9;
    width: 80rem;
    height: max-content;
    /* border: 2px solid black; */
    border-radius: 20px;
}

.comment-btn {
    flex: .1;
}

.post-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.username {
    font-size: large;
    font-weight: 700;
}

.time {
    font-size: small;
}

.progress {
    display: flex;
    justify-content: center;
    align-content: center;
}

.blue {
    text-align: center;
    align-content: center;
}

.preloader {
    width: auto;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.preloader-text {
    margin-top: 1.5rem;
    text-align: center;
}


@media (max-width: 480px) {
    .home-all-posts {
        flex-direction: column;
        width: 20rem;
    }

    .username {
        font-size: smaller;
    }

    .home-post {
        width: auto;
    }

    .comment-btn {
        margin-top: 1rem;
    }
    .hero-comment{
        width: 18rem;
        margin-bottom: .8rem;
    }
    .qc{
        flex-direction: column;
        align-items: center;
    }
    .qc-input{
        width: 18rem;
        margin-bottom: 1rem;
    }
    .latest-comment{
        width: 18rem;
    }
}