.welcome {
    background: linear-gradient(90deg, rgb(176, 180, 241) 0%, rgb(83, 91, 240) 100%);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.welcome-span {
    color: #242424;
    position: absolute;
    font-size: x-large;
    font-weight: 500;
    bottom: -600rem;
    animation: heroanimation 3s ease forwards;
}

.welcome-container {
    position: absolute;
    width: 50rem;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.svg>text {
    font-size: 150px;
    stroke: whitesmoke;
    stroke-width: 5px;
    fill: none;
    font-family: 'Poppins', sans-serif;
    stroke-linejoin: round;
    stroke-dasharray: 500px;
    stroke-dashoffset: 500px;
    animation: textanimation 3s ease forwards;
}


@keyframes textanimation {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes fillanimation {
    0% {
        fill: none;
    }

    100% {
        fill: whitesmoke;
    }
}

@keyframes heroanimation {
    100% {
        bottom: 6rem;
    }
}

@media (max-width: 480px) {
    .welcome-container {
        width: 20rem;
    }

    .welcome-span {
        font-size: large;
        font-weight: 400;
    }

    @keyframes heroanimation {
        100% {
            bottom: 1.5rem;
        }
    }
}